<div class="w-full">
  <% content_for :title, "Posts" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Posts</h1>
    <%= link_to "New post", new_post_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="posts" class="min-w-full" data-controller="search clipboard">
    <%= tag.input type: 'text', id: "search", name: "query", placeholder: "search for posts",
                  class: "border border-gray-300 rounded-lg p-2 focus:ring-blue-500 focus:border-blue-500",
                  data: { action: "input->search#posts" } %>             
    
    <% @posts.each do |post| %>
      <%= tag.div class: "post_wrapper" do %>
        <%= render post %>
        <p>
          <%= link_to "Show this post", post, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
        </p>
      <% end %>
    <% end %>

  </div>
</div>
